/* --- Login.html ---*/

#logo{
    /* width: 10.625rem;
    height: 5.625rem;
    display: inline-table; */    
    width: 170px;
    height: 90.8px;
    margin: auto;
    display: block;
    margin-top: 7.4375rem;
}
.content .form{
    margin-top: ;
}

/* --- --- */