/* --- Login.html ---*/

#logo{
    /* width: 10.625rem;
    height: 5.625rem;
    display: inline-table; */
    position: absolute;
    width: 170px;
    height: 90.8px;
    left: 81px;
    top: 122px;
}

/* --- --- */