/* --- Login.html ---*/

#logo{
    /* width: 10.625rem;
    height: 5.625rem;
    display: inline-table; */

    width: 170px;
    height: 90.8px;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
}
.row{
    margin:1rem auto;
}
.img{
    margin: auto;
}

.btn{
    margin:1rem;
}


/* --- --- */