/* --- Login.html ---*/


#logo{
    /* width: 10.625rem;
    height: 5.625rem;
    display: inline-table; */

    width: 170px;
    height: 90.8px;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

#verify{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#pass-change{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#report{
    margin: 0 auto;
    text-align: center;
}

.row{
    margin:1rem auto;
}
.img{
    height: 10rem;
    margin: auto;
}

.btn{
    
    margin: 0 auto;
    text-align: center;
}

/* --- --- */